@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital@0;1&display=swap');
:root{
    --primary-color: #062e1f;
    --primary-color-darker: #274d9e;
    --secondary-color: #fff;
    --erro-color: #cf3838;
    --resultado-color:#409faf;
    --button-color: #0b0a42;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color) ;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

.container{
    max-width: 600px;
    margin: 50px auto;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.4em;
    
       
}
.container > div {
    margin-bottom: 24px; /* ajuste o valor conforme desejar */
    text-align: center;  /* opcional: centraliza o texto */
    font-weight: bold;   /* opcional: deixa em negrito */
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form input{
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
    font-weight: bold;
    
}

.calendario {
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
    
}

form button{
    border: none;
    background: var(--button-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin-top: 25px;

}

form button:hover{
    background: var(--primary-color-darker);
}

.Relogio {
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
    font-weight: bold;
    
}